<?xml version="1.0" encoding="UTF-8"?>
<con:mockService port="8082" path="/mockServiceSoapBinding" name="ServiceSoapBinding MockService" host="localhost" id="1b69b85c-72cf-4c46-8f76-7d72a2c7ac76" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="com.eviware.soapui.impl.wsdl.mock.WsdlMockService@require-soap-action">false</con:setting>
    <con:setting id="1b69b85c-72cf-4c46-8f76-7d72a2c7ac76fileName">ServiceSoapBinding-MockService</con:setting>
  </con:settings>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity>
    <con:virtError>
      <con:start>-1</con:start>
    </con:virtError>
  </con:constraints>
  <con:dataSources/>
  <con:headerValidator type="NONE"/>
  <con:properties/>
  <con:onRequestScript/>
</con:mockService>
